.group {
  display: flex;
  flex-direction: row;
}

.group > div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  border: 1px solid;
  padding: 15px;
}
.section {

}

.section-heading {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  padding: 0 10px;
}

.section-heading > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.section-add {
  text-align: right;
}

.button {
  color: #21ba45;
  background: transparent none;
  border-radius: 0.2rem;
  border: 1px solid #21ba45;
  padding: 0.3rem;
  font-weight: 600;
}

.section-body {
  margin: 20px;
  display:flex;
  border-radius: 4px;
  border: 1px solid rgb(225, 231, 235);
  background-color: white;
}

.section-body > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 20px 0;
}

.section-okr {
  margin: 5px;
  display:flex;
  flex-direction: column;
}

.section-okr > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid rgb(225, 231, 235);
  background-color: white;
}

.okr-timeframe {
  font-size: 1.2rem;
  margin: 5px;
}

.okr-body {
  margin: 5px;
}

.okr-title {
  font-weight: bold;
}

.okr-title:hover {
  color: rgb(5, 169, 244);
}

.okr-des {
  padding-top: 5px;
}

.okr-details {
  padding-top: 5px;
  font-size: .8rem;
}