.userThumb {
  height: var(--avatar-size);
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  min-height: var(--avatar-size);
  max-width: var(--avatar-size);
  max-height: var(--avatar-size);
  flex: 0 0 var(--avatar-size);
  border-radius: var(--avatar-border-radius);
  /*overflow: hidden;*/
  display: inline-flex;
}

.profileImage {
  width: 100%;
  height: 100%;
}

.textAvatar {
  width: 100%;
  height: 100%;
  background-color: var(--avatar-background-color);
  border: var(--border-thickness, 1px) solid var(--avatar-border-color);
  color: var(--avatar-border-color);
  border-radius: var(--avatar-border-radius);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--avatar-font-size);
}

.size20 {
  --avatar-size: 2rem;
  --avatar-font-size: 1.1rem;
  --avatar-border-radius: 1rem;
}

.size24 {
  --avatar-size: 2.4rem;
  --avatar-font-size: 1.1rem;
  --avatar-border-radius: 0.8rem;
}

.size28 {
  --avatar-size: 2.8rem;
  --avatar-font-size: 1.1rem;
  --avatar-border-radius: 0.8rem;
}

.size32 {
  --avatar-size: 3.2rem;
  --avatar-font-size: 1.2rem;
  --avatar-border-radius: 0.8rem;
}

.size36 {
  --avatar-size: 3.6rem;
  --avatar-font-size: 1.4rem;
  --avatar-border-radius: 1rem;
}

.size40 {
  --avatar-size: 4rem;
  --avatar-font-size: 1.4rem;
  --avatar-border-radius: 1.2rem;
}

.size48 {
  --avatar-size: 4.8rem;
  --avatar-font-size: 1.4rem;
  --avatar-border-radius: 1.4rem;
}

.size60 {
  --avatar-size: 6rem;
  --avatar-font-size: 2rem;
  --avatar-border-radius: 1.8rem;
}

.size72 {
  --avatar-size: 7.2rem;
  --avatar-font-size: 3.6rem;
  --avatar-border-radius: 2rem;
}

.size96 {
  --avatar-size: 9.6rem;
  --avatar-font-size: 3.6rem;
  --avatar-border-radius: 2.8rem;
}

.blue {
  --avatar-background-color: #deeaff;
  --avatar-border-color: #0565ff;
}

.green {
  --avatar-background-color: #d9eed8;
  --avatar-border-color: #4aa147;
}

.magenta {
  --avatar-background-color: #f9e6f3;
  --avatar-border-color: #d341a5;
}

.yellow {
  --avatar-background-color: #fef5dd;
  --avatar-border-color: #eeb209;
}

.red {
  --avatar-background-color: #fbe6e6;
  --avatar-border-color: #df4440;
}

.orange {
  --avatar-background-color: #feeee1;
  --avatar-border-color: #f58220;
}

.purple {
  --avatar-background-color: #ececfa;
  --avatar-border-color: #6e6edb;
}
