.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-body {
    padding: 1rem;
    color: rgba(0,0,0,.68);
    font-size: 0.9rem;
    background-color: #dadada;
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1rem;
}

.card-button {
    color: #21ba45;
    background: transparent none;
    border-radius: 0.2rem;
    border: 1px solid #21ba45;
    padding: 0.3rem;
}