.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: fixed;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    outline: 0;
    width: 80%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 30px;
    display:flex;
    flex-grow: 0;
    flex-basis: 50px;
}

.modal-title {
    width: 100%;
}

.modal-header .close {
    margin-top: 20px;
    height: 20px;
    width: 20px;
    padding: 1px;
}

.modal-body {
    position: relative;
    padding: 15px;
    flex-grow: 1;
    flex-basis: auto;
    overflow: scroll;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    height: 30px;
    flex-grow: 0;
    flex-basis: 50px;
}

.modal-footer > button {
    padding: 10px;
    margin-top: 7px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
  